In [416]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re
import os
import urllib
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data", "covid")
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url, csv_path)
df = pd.read_csv(csv_path)
df2 = pd.read_csv("data/World-GDP.csv")
df.columns = [col.strip() for col in df.columns]
df['Date_reported'] = pd.to_datetime(df["Date_reported"])
isO = df['Date_reported']==pd.to_datetime('2021-02-21 00:00:00')
df = df[isO]
df = df.reset_index()
df.drop(columns=["New_deaths", "New_cases", "index", 'WHO_region', "Country_code", "Date_reported"], inplace=True)
df.rename(columns={'Country': "Area"}, inplace=True)
df2.rename(columns={'Country or Area': "Area"}, inplace=True)
df = df[df.Cumulative_deaths > 0]
df = df[df.Cumulative_cases > 20000]
df2.drop(columns=["Year", "Item"], inplace=True)
df2.drop([201, 202, 40, 41, 42], inplace=True)
df2 = df2.replace({"Iran, Islamic Republic of":"Iran (Islamic Republic of)","Kingdom of Eswatini":"Eswatini", "Republic of North Macedonia":"North Macedonia", "Sint Maarten (Dutch part)":"Sint Maarten", "United Kingdom of Great Britain and Northern Ireland":"The United Kingdom", "Kosovo":"Kosovo[1]","United States":"United States of America","State of Palestine":"occupied Palestinian territory, including east Jerusalem"})
df2 = df2.replace({"Côte d'Ivoire":"Côte d’Ivoire"})
dfT = pd.DataFrame([['United Republic of Tanzania', 81122.12]], columns=["Area", "Value"])
dfT2 = pd.DataFrame([['China', 10261.68]], columns=["Area", "Value"])
df2 = df2.append(dfT, ignore_index=True)
df2 = df2.append(dfT2, ignore_index=True)
df.set_index("Area", inplace=True)
df2.set_index("Area", inplace=True)
merged = pd.merge(df, df2, how="inner", left_index=True, right_index=True)
merged["rate"] = merged.apply(lambda x: (x["Cumulative_deaths"]/x["Cumulative_cases"])*100, axis=1)
print(ttest_ind(merged["rate"], merged["Value"]))
print(merged[merged["Value"]<5000]["rate"].mean())
print(merged[merged["Value"]>30000]["rate"].mean())
sortedM = merged.sort_values(by=['rate'])

Ttest_indResult(statistic=-6.082488977861639, pvalue=1.9051403106041447e-08)
2.5691697490380228
1.4078869907720786

In [401]:
merged["rate"].dtype

dtype('float64')

In [406]:
sortedM

,Cumulative_cases,Cumulative_deaths,Value,rate
Area,,,,
Singapore,59858,29,64102.737611,0.048448
Qatar,159967,256,64781.733197,0.160033
United Arab Emirates,368175,1108,43103.323058,0.300944
Thailand,25415,83,7784.739080,0.326579
Bahrain,117234,420,23503.977127,0.358258
Malaysia,280272,1051,11414.293654,0.374993
Sri Lanka,79480,435,3939.684198,0.547307
Kuwait,183322,1039,31999.271891,0.566762
Cuba,43484,291,9295.901636,0.669212
Nepal,273351,2061,1073.621801,0.753976
Venezuela (Bolivarian Republic of),135114,1308,4732.820093,0.968071
Uruguay,51377,563,16190.138438,1.095821
"occupied Palestinian territory, including east Jerusalem",194875,2172,3424.465313,1.114561
Oman,138494,1549,15343.062004,1.118460
Lebanon,353371,4297,7784.316857,1.216002
Jordan,359811,4543,4405.480596,1.262607
Dominican Republic,234502,3028,8282.123087,1.291247
Costa Rica,201678,2763,12238.375054,1.370006
India,10991651,156302,2116.177386,1.422007
Bangladesh,543024,8342,1846.416377,1.536212
Libya,129325,2088,4810.082385,1.614537
Panama,335339,5711,15727.970387,1.703053
Saudi Arabia,374691,6457,23139.802114,1.723287
Japan,424507,7417,40063.485352,1.747203
United States of America,27702074,491894,65133.731652,1.775658
Morocco,480948,8548,3282.007597,1.777323
Republic of Korea,86992,1557,32143.085012,1.789820
Jamaica,20924,391,5369.493990,1.868668
Puerto Rico,98835,1957,35790.652374,1.980068
Iraq,664750,13245,5729.677358,1.992478
Paraguay,149684,3026,5406.483416,2.021592
Philippines,559288,12068,3323.767006,2.157743
Pakistan,569846,12563,1186.692080,2.204631
Myanmar,141735,3196,1420.740813,2.254912
Honduras,164077,3975,2574.908102,2.422643
Brazil,10081676,244765,8755.271208,2.427821
Argentina,2054681,51000,10041.463303,2.482137
Chile,795845,19974,14896.453867,2.509785
Canada,840586,21576,46550.335507,2.566781
Colombia,2217001,58511,6432.387583,2.639196
Indonesia,1271353,34316,4135.569274,2.699172
El Salvador,58546,1792,4187.250031,3.060841
Australia,28920,909,54763.202388,3.143154
Tunisia,227643,7755,3317.515276,3.406650
Peru,1269523,44690,6977.767820,3.520220
Guatemala,170931,6249,4363.138793,3.655861
Iran (Islamic Republic of),1566081,59409,7282.005946,3.793482
Afghanistan,55604,2432,469.919090,4.373786
Bolivia (Plurinational State of),240676,11390,3552.068760,4.732503
China,101669,4842,10261.680000,4.762514
Ecuador,273097,15513,6183.823825,5.680399
Egypt,177543,10298,3161.324684,5.800285
Sudan,30128,1864,815.060101,6.186936
Mexico,2030491,178965,9848.604353,8.813878

In [408]:
sortedM

,Cumulative_cases,Cumulative_deaths,Value,rate
Area,,,,
Singapore,59832,29,64102.737611,0.048469
Qatar,159053,256,64781.733197,0.160953
United Arab Emirates,361877,1073,43103.323058,0.296510
Thailand,25241,83,7784.739080,0.328830
Bahrain,115705,414,23503.977127,0.357806
...,...,...,...,...
China,101624,4842,10261.680000,4.764623
Ecuador,269860,15444,6183.823825,5.722967
Egypt,176333,10201,3161.324684,5.785077
Sudan,30128,1864,815.060101,6.186936
Mexico,2013563,177061,9848.604353,8.793417